/* ==========================================================================
   Global Styles
========================================================================== */

body {
  background-image: url("images/leaves-336694_1920.jpg");
  background-repeat: repeat;
  background-size: contain;
  text-align: center;
}

/* ==========================================================================
   Header Styles
========================================================================== */
.nav-container {
  background-color: goldenrod;
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Arvo', serif;
}

.menu-bars {
  font-size: 25px;
  padding: 10px 20px;
}

/* ==========================================================================
   Body Styles
========================================================================== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-shadow: 3px 2px 3px #585551;
  font-family: 'Arvo', serif;
  font-size: 30px;
}

/* SEARCH CONTAINER STYLING */
.foam {
  background-image: url("images/frank-luca-c-fbj_fTFUM-unsplash.jpg");
  background-size: 550px;
  background-position: -130px -45px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 2px 3px #8f8982;
  box-shadow: 20px 20px 5px 5px #1c1713;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #FBF5DF;
  border: none;
  box-shadow: 5px 5px 5px #1c1713;
  border-radius: 5px;
}

button {
  background-color: #FBF5DF;
  border: none;
  box-shadow: 5px 5px 5px #1c1713;
  border-radius: 5px;
}

button:hover{
  transform: scale(1.1);
  background-color: #BBCD49;
}

#brew-search-input {
  margin: 20px 0px 10px 0px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  color: #808080;
}

#brew-header {
  padding: 10px;
  margin: 20px;
}

#search-button {
  width: 75px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
}

#brew-info-head {
  margin: 15px 0px 5px 0px;
}

#brewery-info h3 {
  margin: 0px 0px 0px 0px;
}

#brewery-info h4 {
  margin: 10px 0px 0px 0px;
}

#brewery-info a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:link {
  color: black;
}

a:visited {
  color: #BBCD49;
}

a:hover {
  color: #FBF5DF;
}

/* MAP CONTAINER SYTLING */
.map-container {
  box-shadow: 10px 10px 5px #1c1713;
  border: 5px solid #b7c7c6;
  margin-top: 50px;
  background-image: url("images/annie-spratt-AFB6S2kibuk-unsplash.jpg");
  background-size: contain;
  background-repeat: round;
  transform: rotate(-9deg)
}

#map {
  width: 400px; 
  height: 300px;
}

/* MAP MARKER STYLING */
#marker {
  background-image: url('images/brewlogo.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* ==========================================================================
   Footer Styles
========================================================================== */


/* ==========================================================================
   Media Query
========================================================================== */
@media (max-width: 600px) {
  .map-container {
    max-width: 80vw;
    margin: 50px 50px 20px 50px;
    /* max-height: 80%; */
  }
  .mapboxgl-canvas {
    max-width: 80vw;
    /* max-height: 80%; */
  }
  #map {
    max-width: 60vw;
    max-height: 40vw;
  }
}

@media (max-width: 385px) {
  .foam {
    max-width: 60vw;
    max-height: 60vw;
    background-size: 105vw;
    background-position: 52% 40%;
    background-repeat: no-repeat;
    margin: 20px 50px 20px 50px;
  }
  .foam a {
    font-size: 14px;
  }
  .foam h4 {
    font-size: 12px;
  }
  h2 {
    margin: 10px 0px 10px 0px;
  }
  #map {
    max-width: 60vw;
    max-height: 40vw;
  }
  #brew-search-input {
    width: 100px;
    height: 15px;
    font-size: 11px;
  }
  #search-button {
    width: 50px;
    height: 15px;
    padding: 0px 0px 3px 0px;
    font-size: 12px;
    margin: 5px 0px -10px 0px;
  }
  #brewery-info a {
    font-size: 12px;
    margin: 5px;
  }
  #brewery-info h3 {
    font-size: 12px;
    margin: 5px;
  }
  #brewery-info h4 {
    font-size: 10px;
    margin: 0px 0px 10px 0px;
  }
}
