/* ==========================================================================
   Media Query
========================================================================== */



/* ==========================================================================
   Global Styles
========================================================================== */

body {
  background-color: blanchedalmond;
  text-align: center;
}

/* ==========================================================================
   Header Styles
========================================================================== */
.nav-container {
  background-color: goldenrod;
  margin-bottom: 40px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  
  font-size: 25px;
  padding: 10px 20px;
}

.nav-container h1 {
  align-self: center;
}

/* ==========================================================================
   Body Styles
========================================================================== */
main {
  display: flex;
  justify-content: center;
}

.brewery-search-container {
  background-color: goldenrod;
  height: 250px;
  width: 250px;
  align-items: center;
}

#dumb-button {
  height: 25px;
  width: 25px;
}

/* ==========================================================================
   Footer Styles
========================================================================== */